# Ignore those
.vscode/

.build/

.DS_Store
*.zip
*.exe
*.dll

# But not these files
!.gitignore
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json

!makefile
!.build/firmware.*

# Ignore FreeRTOS subfolders dependency, test and tools
**/dependency/*
**/test/*
**/tools/*
